entrypoint = "main.go"
run = ["./fresh"]

modules = ["go-1.21"]

[nix]
channel = "stable-24_05"

[gitHubImport]
requiredFiles = [".replit"]

[deployment]
run = ["go", "run", "."]
ignorePorts = false
deploymentTarget = "gce"

[[ports]]
localPort = 8080
externalPort = 80
